{{page-title this.title}}

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item
           {{if
             this.hasActiveChildRoute
             'au-u-3-5@medium au-u-visible-medium-up'
             'au-u-1-1@medium'
           }}"
  >
    <div class="au-c-body-container" tabindex="0">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">{{this.title}}</AuHeading>
        </Group>
        <Group>
              <AuLink
                @route="aanvragen.new"
                @icon="add"
                @skin="button"
              >
                Nieuwe aanvrag
              </AuLink>
        </Group>
      </AuToolbar>
      <table class="au-c-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Beschrijving Handeling</th>
            <th>Beschrijving Huidige Staat</th>
            <th>Motivatie</th>
            <th>Aanvrager</th>
            <th>Contactpersoon</th>
            <th>Details Aanduidingsobject</th>
            <th>Start Datum</th>
            <th>Eind Datum</th>
          </tr>
        </thead>
        <tbody>
          {{#each @model.data as |aanvraag|}}
            <tr>
              <td>{{aanvraag.id}}</td>
              <td>{{aanvraag.attributes.beschrijvingHandeling}}</td>
              <td>{{aanvraag.attributes.beschrijvingHuidigeStaat}}</td>
              <td>{{aanvraag.attributes.motivatie}}</td>
              <td>{{aanvraag.attributes.aanvrager}}</td>
              <td>{{aanvraag.attributes.contactpersoon}}</td>
              <td>{{aanvraag.detailsAanduidingsobject}}</td>
              <td>{{aanvraag.attributes.startdate}}</td>
              <td>{{aanvraag.attributes.enddate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{outlet}}
</div>